body {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #474747;
    padding-top: 50px;
}
li {
    list-style-type: square;
}
a {
	color: #000;
	text-decoration: none;
}
.derecha {
	float: right;
	width: 80%;
	min-height: 500px;
	background-color: #F4EBC3;
	padding: 25px;
	box-sizing: border-box;
}
.derecha li {
	border-bottom:2px dotted;
}
.izquierda {
	float: left;
	width: 20%;
	padding: 10px;
	box-sizing: border-box;
	position: fixed;
}
.yo {
    padding: 10px;
    box-sizing: border-box;
    background: #FFF;
    border: solid 1px #474747;
    transform: rotate(-5deg);
    margin: 10px;
    display: block;
}
.yo img {
    width: 100%;
    border: solid 1px #474747;
    box-sizing: border-box;
    display: block;
}
.boton {
	float: right;
	border-bottom: dotted 2px;
	clear: both;
	width: 100%;
	text-align: right;
	list-style-type: none;
}
.boton a:hover::before {
	content: "-";
	display: inline-block;
	width: 20px;
	text-align: center;
}
.boton:last-child {
	border: none;
}
.boton a {
	padding: 10px;
	display: block;
}
#encabezado {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #668284;
	top: 0;
	padding: 0 25px;
	box-sizing: border-box;
}
#nombre, #perfil {
	float: left;
	color: #fff;
	margin: 0;
	line-height: 50px;
	font-weight: 400;
	font-size: 25px;
}
#perfil::before {
	content: "-";
	display: inline-block;
	padding: 0 10px;
}
#perfil sup {
	font-size: 12px
}
#contacto {
	float: right;
	margin: 0;
	padding: 0;
}
#contacto li {
	list-style-type: none;
	float: left;
	box-sizing: border-box;
}
#contacto li a {
	padding: 0 10px;
	line-height: 50px;
	display: block;
	color: #FFF;
	font-size: 26px;
}
#menu {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#pie {
	background-color: #668284;
	clear: both;
	text-align: center;
	color: #fff;
	float: right;
	width: 80%;
}
#footer p {
    position: relative;
    padding-top: 15px;
}